/*

Table of contents

1. CSS reset
2. Variable declarations
3. Font styling
4. General - Elements
5. General - Classes

*/

/*

1. CSS reset

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)

*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/*

2. Variable declarations

*/

:root {
  --surface: #131318;
  --surface-bright: #39393f;
  --surface-container: #1f1f25;
  --on-surface: #e4e1e9;
  --primary: #bcc2ff;
  --on-primary: #242b61;
  --primary-container: #3b4279;
  --on-primary-container: #dfe0ff;
  --error: #ba1a1a;
}

/*

2.5 Reset form autocomplete styling

*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--on-surface);
  -webkit-text-fill-color: var(--on-surface);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 

3. Font styling

*/

html {
  font-size: 62.5%;
  font-family: roboto, sans-serif;
}

textarea {
  font-family: roboto, sans-serif;
}

body {
  font-size: 1.6rem;
}

/*

4. General - Elements

*/

body {
  background-color: var(--surface);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

header {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem 0.6rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

main {
  max-width: 120rem;
}

h1 {
  font-size: 5.7rem;
  line-height: 6.4rem;
  letter-spacing: -0.25rem;
  color: var(--on-surface);
  margin-top: 3rem;
  padding-left: 2rem;
}

.headerNav {
  display: none;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--surface-bright);
  color: var(--on-surface);
  border-radius: 1rem;
  z-index: 20;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin: auto;
  color: var(--on-surface);
  gap: 3rem;
}

strong {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.05rem;
  color: var(--on-surface);
}

figcaption {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  color: var(--on-surface);
  text-align: center;
}

main {
  color: var(--on-surface);
}

main h2 {
  font-size: 3rem;
  line-height: 4.4rem;
  letter-spacing: 0rem;
  padding: 0 2rem 0 2rem;
}

main p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
  padding: 0 2rem 0 2rem;
  margin-bottom: 4rem;
}

/*

5. General - Classes

*/

.logoContainer {
  display: flex;
  align-items: end;
  gap: 0.6rem;
  order: 2;
  margin: 0.5rem 0 0.5rem 0;
}

.logoName {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: -0.2rem;
}

.logo {
  width: 3rem;
}

.navContainer {
  order: 1;
}

.toggleMobileNavVisibilityButton {
  border-radius: 100%;
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.toggleMobileNavVisibilityButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}

.showMobileNav {
  display: flex;
}

.navCloseButton {
  position: absolute;
  top: 1.2rem;
  right: 0.5rem;
}

.headerNavItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2.4rem;
  list-style: none;
  padding: 4rem 6rem 4rem 6rem;
}

.scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.scrim.show {
  display: block;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeHeroContainer {
  display: flex;
  overflow: hidden;
  align-items: center;
  align-items: center;
  max-height: 40rem;
}

.homeHero {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.footerCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: calc(100% - 4rem);
}

.footerCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--surface-container);
  border-radius: 1rem;
  width: 100%;
}

.footerCard p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.005rem;
}

.footerCardHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footerUl {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  list-style: disc;
  list-style-position: inside;
}

.footerNav ul li:hover {
  text-decoration: underline;
}

.copyright {
  margin-bottom: 4rem;
}

.mainHome {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.sectionCard {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  overflow: hidden;
  max-width: calc(100% - 4rem);
  border-radius: 1rem;
}

.sectionCard img {
  width: 100%;
  height: auto;
}

.sectionCard p {
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 2rem 0 2rem;
  margin-bottom: 5rem;
}

.contactForm {
  flex: 2;
}

.contactFormElementContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 4rem;
}

.contactFormLabel {
  position: absolute;
  color: var(--on-surface);
  margin-right: 1rem;
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  top: 1.4rem;
  left: 1rem;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.contactFormSelectLabel {
  display: none;
}

.contactFormElementContainer:active .contactFormLabel,
.contactFormElementContainer:focus-within .contactFormLabel,
.contactFormInput:not(:placeholder-shown) + .contactFormLabel {
  top: -2rem;
  font-size: 1.6rem;
}

.contactFormInput {
  background-color: var(--surface);
  /*REQUIRED: border, 2024-05-01*/
  border: 1px solid var(--on-surface);
  color: var(--on-surface);
  font-size: 1.8rem;
  border-radius: 0.4rem;
  padding: 1rem 1.4rem 1rem 1.4rem;
}

.contactFormInput::placeholder {
  color: var(--surface);
}

.contactFormInput:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.contactFormTosContainer {
  color: var(--on-surface);
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.contactFormButtonContainer {
  display: flex;
  gap: 2rem;
}

.contactFormButton {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding: 1rem;
  width: 100%;
  border-radius: 0.4rem;
  font-size: 2.2rem;
  transition: transform 0.2s ease-in-out;
}

.contactFormButton:hover {
  background-color: var(--on-primary);
  transform: translateY(-0.2rem);
}

.contactFormTextContainer {
  flex: 1;
  color: var(--on-surface);
}

.contactFormTextContainer h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  letter-spacing: 0rem;
  margin-bottom: 1rem;
}

.contactFormTextContainer p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

.testimonialContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 0 2rem 0 2rem;
}

.testimonialContainer blockquote {
  max-width: 35rem;
  min-width: 28rem;
}

.testimonialContainer blockquote p {
  background-color: var(--primary-container);
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.testimonialContainer blockquote p::before,
.testimonialContainer blockquote p::after {
  font-size: 3rem;
  color: var(--on-primary-container);
}

.testimonialContainer blockquote p::before {
  content: "\201c";
}

.testimonialContainer blockquote p::after {
  content: "\201d";
}

.aboutUsPhoto {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-height: 50rem;
  margin-top: 2rem;
}

.videoContainer {
  width: 100%;
  height: 70rem;
  padding: 0 2rem 0 2rem;
}

.aboutParagraph {
  font-size: 2.2rem;
  color: var(--on-surface);
  max-width: 60rem;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/*

6. Media queries

*/

/*REQUIRED: media query 1 of 3, 2024-04-23*/
@media screen and (min-width: 600px) {
  .navContainer {
    order: 2;
  }

  .logoContainer {
    order: 1;
  }

  .headerNav {
    display: block;
    position: unset;
    transform: unset;
    background-color: unset;
  }

  .headerNav li {
    transition: transform 0.2s ease-in-out;
  }

  /*REQUIRED: dynamic styling of navigation, 2024-04-23*/
  .headerNav li:hover {
    text-decoration: underline;
    transform: translateY(-0.1rem);
  }

  .navCloseButton,
  .scrim.show,
  .toggleMobileNavVisibilityButton {
    display: none;
  }

  .headerNavItems {
    flex-direction: row;
    font-size: 1.8rem;
    padding: 0;
  }
}

/*REQUIRED: media query 2 of 3, 2024-04-23*/
@media screen and (min-width: 1000px) {
  .footerCardContainer {
    flex-direction: row;
    gap: 5rem;
  }

  .sectionCard {
    flex-direction: row;
    max-height: 35rem;
    align-items: center;
  }

  .sectionCard img {
    width: 66%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .paragraphLeft img {
    order: 2;
  }

  .contactFormContainer {
    flex-direction: row;
    gap: 5rem;
  }
}

/*REQUIRED: media query 3 of 3, 2024-05-01*/
@media print {
  * {
    color: black;
    background-color: white;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  header,
  footer,
  .navContainer,
  .scrim,
  .contactFormContainer {
    display: none;
  }

  body,
  main,
  .mainContainer {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
